.shows-navbar {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;

}

.show-sort {
  border-radius: 1rem;
  padding: 0 .5rem;

}

.filters-btn {
  background-color: white;
  border-radius: 1rem;
  padding: 0 2rem;

}

.show-sort,
.filters-btn {
  height: 2rem;
  border: 1px solid #F15A29;
  cursor: pointer;
  font-family: sans-serif;
}

.search-submit {
  position: relative;
  left: -1rem;
  border: 1px solid #F15A29;
  background-color: white;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;

}

.show-search {
  height: 2rem;
  border-radius: 1rem 0 0 1rem;
  border: 1px solid #F15A29;
  padding: 0 .5rem;
  font-family: sans-serif;

}

.filters-dropdown {
  position: absolute;
  top: 11.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #F15A29;
  border-radius: 1rem;
  padding: 1rem;
  width: 30rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.filter-buttons {
  height: 2rem;
  border-radius: 1rem;
  border: none;
  padding: 0 1rem;
  font-family: sans-serif;
  opacity: .9;
  cursor: pointer;
}
