.shows-navbar {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;

}

.show-sort {
  padding: 0 .5rem 0 .5rem;
}

.show-sort option {
  border: 1px solid #F15A29;
}

.filters-btn {
  background-color: white;
  border-radius: 1rem;
  padding: 0 2rem;

}

.show-sort,
.filters-btn {
  height: 2rem;
  border: 1px solid #F15A29;
  cursor: pointer;
  font-family: sans-serif;
}

.show-search-container {
  display: flex;
}

.search-submit {
  position: relative;
  left: -2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.show-search {
  height: 2rem;
  border-radius: 1rem;
  border: 1px solid #F15A29;
  padding: 0 .5rem;
  font-family: sans-serif;
}

.show-search:focus,
.show-sort:focus {
  outline: none;
}

.filters-dropdown {
  position: absolute;
  top: 11.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #F15A29;
  border-radius: 1rem;
  padding: 1rem;
  width: 30rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.filter-buttons {
  height: 2rem;
  border-radius: 1rem;
  border: none;
  padding: 0 1rem;
  font-family: sans-serif;
  opacity: .9;
  cursor: pointer;
}

.show-card-container {
  height: 20rem;
}
