.episode-block-container {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  width: 100%;
}

.episode-form {
  display: flex;
  align-items: center;
  width: 100%;
}

.episode-image {
  width: 250px;
  height: 250px;
  border-radius: .5rem;
  filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, .1));
}

.episode-image-upload-container {
  position: relative;
  width: 250px;
  height: 250px;
  aspect-ratio: 1/1;
  background-color: transparent !important;
}

.image-update-icon {
  position: absolute;
  width: 250px;
  height: 250px;
  padding: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #555;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, .6);
  /* opacity: .8; */
  cursor: pointer;

}

.episode-text-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0 1rem 2rem;
  height: 250px;
  width: 100%;
}

.episode-play-guest {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: .75rem;
  font-size: 2rem;
  font-family: sans-serif;
  border-bottom: 2px solid #F15A29;
}

.episode-play-title {
  display: flex;
}

.play-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #F15A29;
  font-size: 4rem;
  margin-right: 1rem;
  cursor: pointer;
}

.upload-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #8CC63F;
  font-size: 4rem;
  margin-right: 1rem;
  cursor: pointer;
}

.episode-description {
  display: flex;
  flex-direction: column;
  height: auto;
  font-size: 1.5rem;

}

.episode-description-field {
  height: 108px;
  width: 100%;
  border: none;
  resize: none;
  border-radius: .5rem;
  padding: 0 1rem;
}

.desc-editor-closed {
  padding: 0 1rem;
  height: 108px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.edit-episode-btn {
  display: flex;
  flex-direction: column;
}

.toggle-episode-editor-btn {
  font-size: 1.5rem;
  border: none;
  background-color: white;
  padding: 0;
  line-height: 1.7rem;
  text-align: end;
  cursor: pointer;
}

.open-editor-btn {
  display: flex;
  gap: .7rem;
}

.episode-title-container {
  display: flex;
  flex-direction: column;
  width: 50rem;
}

.episode-title {
  display: flex;
  align-items: center;
  height: 4rem;
  margin-left: 1rem;
  padding: 0 !important;
}

.episode-title h3,
.episode-count-guests h2 {
  padding-left: .25rem;
}

.episode-count-guests {
  display: flex;
  align-items: center;
  height: 3rem;
}

.episode-guest-info-field {
  width: 100%;
  height: 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 1rem;
  border: none;
  border-radius: .5rem;
  margin-left: 1rem;

}

.episode-guest-info {
  padding: 0 1rem;
}

.episode-title-field {
  height: 3.5rem;
  width: 100%;
  font-size: 1.17em;
  font-weight: bold;
  padding: 0 1rem;
  border: none;
  border-radius: .5rem;

}
